@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1920px;
    position: relative;
}
/* header page */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-top: 17px;
    padding-right: 200px;
    padding-bottom: 18px;
}
.header__logo{
    width: 90px;
    height: 75px;
    margin-right: 120px;
}
.header__timing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__text{
    width: 252px;
    white-space: wrap;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    color: #343434;
    margin-right: 58px;
}
.header__wrapper{
    width: 407px;
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__time{
    flex-direction: column;
    align-items: center;
 }
#days, 
#hours,
#minutes,
#seconds{
    margin: 0;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #C3002F;
    font-family: 'Open Sans', sans-serif;
}
.small{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #343434;
}
.timing__btn{
 display: none;
}
.header__point{
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: -20px; */
}
.header__phone{
    display: flex;
    align-items: center;
}
.phone__icon{
    width: 34px;
    height: 34px;
}
.phone__text{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
}
.header__btn{
    cursor: pointer;
    background: #C3002F;
    width: 220px;
    height: 65px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* banner page */

.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-bottom: 100px;
}
.header__timingg{
    display: none;
}
.banner__stock{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343434;
    opacity: 0.7;
    width: 100%;
    margin-bottom: 13px;
}
.stock__text{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.banner__sale{
    background: #FFFFFF;
    opacity: 0.7;
    width: 740px;
    height: 118px;
    box-sizing: border-box;
    padding: 23px 65px;
    text-align: left;
    margin-left: 460px;
    margin-bottom: 13px;
}
.none{
    display: none;
}
.sale__text{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #C3002F;
}
.banner__btn{
    cursor: pointer;
    background: #C3002F;
    width: 220px;
    height: 65px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 460px;
}
/* nissan-page */
.nissan-page__wrapper{
    display: flex;
    width: 1520px;
    box-sizing: border-box;
    margin-bottom: 73px;
}
.nissan-page__wrapper2{
    display: flex;
    width: 1520px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.nissan-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nissan-page__text{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 50px;
}
.nissan-page__card{
    width: 740px;
    height: 866px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 27px;
    padding-bottom: 26px;
    background: rgb(234, 230, 230);
    margin-right: 40px;
}
.nissanx-page__card{
    width: 740px;
    height: 866px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 27px;
    padding-bottom: 26px;
    background: rgb(234, 230, 230);
    margin-right: 40px;
}
.card__wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.car__price{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.car__price2{
    display: none;
}
.car__name{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
}
.car__text{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #C3002F;
}
.car__img{
    width: 238px;
    height: 54px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smalll{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}
.car__picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car1{
    width: 686px;
    height: 360px;
    margin-bottom: 17px;
    margin-right: 27px;
}
.car__picture-wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 27px;
}
.car2,
.car3{
    width: 214px;
    height: 142px;
    margin-bottom: 17px;
    margin-right: 22px;
}
/* icon-wrapper page */
.car__icon-wrapper{
    display: flex;
    align-items: center;
}
.car__icon-wr1{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin-left: 75px;
    margin-right: 110px;
}
.car__icon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.icon__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background: #C3002F;
    border: none;
    color: white;
    margin-right: 12px;
    margin-bottom: 15px;
}
.icon__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
.car__btn-wr{
    display: flex;
    align-items: center;
}
.btn__one{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C3002F;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 335px;
    height: 65px;
    margin-right: 16px;
    border: none;
}
.btn__two{
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343434;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 335px;
    height: 65px;
}
/* benefit page */
.benefit{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.benefit__red{
    width: 1200px;
    height: 574px;
    background-image: url(/img/red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
}
.benefit__form{
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    padding-top: 20px;
}
.benefit__heading{
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 34px;
}
.benefit__text{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
    margin-bottom: 15px;
}
.custom-check{
    width: 43px;
    height: 43px;
    background: #EBEBEB;
    border-radius: 0px;
    display: inline-block;
    vertical-align: sub;
    position: relative;
    margin-right: 11px;
    cursor: pointer;
}
.custom-check2{
    width: 20px;
    height: 20px;
    background: #EBEBEB;
    border-radius: 0px;
    display: inline-block;
    vertical-align: sub;
    position: relative;
    margin-right: 11px;
    cursor: pointer;
}
.custom-check::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(/img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: 0.2s ease-in;
}
.custom-check2::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(/img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: 0.2s ease-in;
}
.hidden-check:checked + .custom-check::before{
    transform: translate(-50%, -50%) scale(1);
}
.hidden-check:checked + .custom-check2::before{
    transform: translate(-50%, -50%) scale(1);
}
.hidden-check{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.benefit__inp{
    margin-top: 30px;
    width: 350px;
    height: 65px;
    background: #c7c4c4;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #343434;
    opacity: 0.5;
    margin: 0;
    margin-bottom: 18px;
}
.benefit__inp::-webkit-input-placeholder {
    text-align:center;
}
.benefit__inp1{
    margin-top: 30px;
    width: 350px;
    height: 65px;
    background: #c7c4c4;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #343434;
    opacity: 0.5;
    margin-bottom: 18px;
}
.benefit__inp1::-webkit-input-placeholder {
    text-align:center;
}
#btn-send{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C3002F;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 350px;
    padding: 12px;
    border: none;
    margin-bottom: 20px;
}
.benefit__small{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #626262;
}

/* equipment page */

.equipment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equipment__heading{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
}
.equipment__inp{
    padding: 20px;
    width: 350px;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.equipment__inpt{
    padding: 20px;
    width: 350px;
    height: 65px;
    background: #dfdddd;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    text-transform: uppercase;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}
.down{
  position: absolute;
  background-image: url(/img/down.svg);
  width: 13px;
  height: 6px;
  right: 20px;
  cursor: pointer;
}
.equipment__blue{
    box-sizing: border-box;
    padding-bottom: 19px;
    width: 1520px;
    border-bottom: 2px solid #C3002F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.blue__car{
    width: 350px;
    height: 124px;
}
.equipment__model, .speed{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
}
.equipment__price{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.equipment__price span{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    text-decoration: line-through;
}
.blue__price{
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #343434;
}
.equipment__btn{
    display: flex;
}
.blue__btn1{
    cursor: pointer;
    background: #343434;
    height: 65px;
    width: 235px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.blue__btn2{
    cursor: pointer;
    background: #c3002f;
    border: none;
    height: 65px;
    width: 235px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* map page */
.map{
    position: relative;
    margin-top: 76px;
    width: 100%;
    background-image: url(/img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /* opacity: 0.21; */
}
.map__op{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.21;
    z-index: 0;
}
.map__local{
    position: absolute;
    bottom: 100px;
    left: 1300px;
}
.map__form{
    width: 394px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 365px;
    margin-top: 77px;
    margin-bottom: 79px;
    background: white;
    padding-top: 15px;
    padding-left: 22px;
    padding-right: 22px;
    z-index: 1;
}
.map__logo{
    width: 90px;
    height: 75px;
    margin-bottom: 13px;
}
.map__logo-sm{
    display: none;
}
.form__phone{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #343434;
    margin-bottom: 16px;
}
.map__form .benefit__small{
    margin-bottom: 40px;
}
/* footer page */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 22px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 86px;
    box-sizing: border-box;
    background: #343434;
    color: white;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.footer__copy{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
.phone{
    color: white;
    text-decoration: none;
}
.footer__text{
    width: 1520px;
    height: auto;
}
.text-o{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
/* popUp */
.form-feed-back{
    display: none;
    width: 880px;
    height: 490px;
    background-image: url(/img/popup.svg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 0;
    padding-right: 435px;
    box-sizing: border-box;
    position: absolute;
    top: 2%;
    left: 40%;
}
.frm-fb{
    width: 100%;
    height: 100%;
    padding-top: 31px;
    padding-left: 38px;
    padding-bottom: 39px;
    padding-right: 57px;
    background: rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    z-index: 0;
}
.frm-str{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 46px;
}
.form-close{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343434;
    color: white;
}
.benefit__pop{
    width: 350px;
    height: 65px;
    border: none;
    text-align: center;
    margin-bottom: 18px;
}
.pop__btn{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 350px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C3002F;
    border: none;
    margin-bottom: 20px;
}
#pop-s{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.pop-up2{
    display: none;
    width: 334px;
    height: 364px;
    background-image: url(/img/mini-form.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13%;
    box-shadow: 100px 100px 100px 100px rgba(34, 60, 80, 0.2) inset;
}

.frm-str2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 46px;
}
.form-close2{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343434;
    color: white;
}
.benefit__pop2{
    width: 294px;
    height: 43px;
    border: none;
    text-align: center;
    margin-bottom: 10px;
}
.pop__btn2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 294px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C3002F;
    border: none;
    margin-bottom: 18px;
    margin-top: 5px;
}
#pop-s2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: nowrap;
}
#pop-s2 .custom-check2{
    margin: 0;
    margin-right: 5px;
}
/* mobile version */

@media (min-width:320px) and (max-width:500px) {

    .form-feed-back{
        display: none;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .header{
        padding-top: 10px;
        padding-left: 23px;
        padding-bottom: 18px;
        padding-right: 19px;
    }
    .header__logo{
        width: 73px;
        height: 62px;
        margin-right: 90px;
    }
    .header__timing{
        display: none;
    }
    .header__timingg{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 10px;
        height: 175px;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        z-index: 100;
        justify-content: center;
        text-align: left;
        padding: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

    }
    .header__text{
        width: 329px;
        height: 26px;
        font-weight: 400;
        font-size: 22px;
        color: white;
        white-space: nowrap;
        text-align: left;
        margin: 0;
    }
    .header__wrapper{
        width: 332px;
        height: 65px;
    }
    .small{
        color: white;
    }
    .timing__btn{
        display: block;
        width: 334px;
        height: 43px;
        margin-top: 13px;
    }
    .header__point{
        margin-left: 13px;
        margin-right: 13px;
    }
    .phone__icon{
        width: 30px;
        height: 30px;
    }
    .phone__text{
        font-size: 14px;
        white-space: nowrap;
    }
    .header__btn{
        display: none;
    }
    /* banner psge */
    .banner{
        background-image: url(/img/banner-min.png);
        height: 753px;
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        margin-bottom: 26px;
    }
    .banner__stock{
        display: none;
    }
    .stock__text{
        display: none;
    }
    .banner__sale{
        background: #FFFFFF;
        margin: 0;
        opacity: 0.7;
        width: 100%;
        height: 160px;
        box-sizing: border-box;
        padding: 15px 20px;
    }
    #strong{
        font-size: 26px;
        font-weight: bold;
        color: #C3002F;
        margin-bottom: 9px;
    }
    .sale__text{
        font-size: 24px;
        font-weight: 400;
        color: #C3002F;
        text-align: center;
    }
    .none{
        display: block;
    }
    .banner__btn{
        display: none;
    }
    /* nissan page */
    .nissan-page__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .nissan-page__wrapper2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .nissan-page__text{
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 20px;
    }
    .nissan-page__card{
        width: 100%;
        height: 795px;
        background-image: url(/img/bg-one.svg);
        background-size: cover;
        margin: 0;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        margin-bottom: 20px;
        position: relative;
        left: 0;
    }
    .nissanx-page__card{
        width: 100%;
        height: 795px;
        background-image: url(/img/bg-two.svg);
        background-size: cover;
        margin: 0;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        position: relative;
        left: 0;
    }
    .nissanm-page__card{
        width: 100%;
        height: 795px;
        background-image: url(/img/murano.svg);
        background-color: rgba(0,0,0,0.1);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        margin: 0;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }
    .nissant-page__card{
        background-color: rgba(0,0,0,0.1);
        width: 100%;
        height: 795px;
        background-image: url(/img/bg-four.svg);
        background-size: cover;
        margin: 0;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        position: relative;
        left: 0;
    }
    .card__wr{
        display: flex;
        flex-direction: column;
        margin-left: -20px;
    }
    .car__name{
        font-size: 26px;
        text-align: left;
    }
    .car__price{
        margin: 0;
        padding: 0;
    }
    .car__text{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .car__img{
        transform: rotate(180deg);
        left: -110px;
        position: relative;
        width: 238px;
        height: 46px;
    }
    .smalll{
        transform: rotate(180deg);
        font-size: 22px;
    }
    .car__picture{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 13px;
    }
    .car__picture-wr{
        margin: 0;
    }
    .car1{
        width: 334px;
        height: 175px;
        margin: 0;
        margin-bottom: 7px;
    }
    .car2{
        width: 104px;
        height: 70px;
        margin: 0;
        margin-bottom: 5px;
        margin-right: 7px;
    }
    .car3{
        width: 104px;
        height: 70px;
        margin: 0;
        margin-bottom: 5px;
        margin-right: 7px;
    }
    .car4{
        width: 104px;
        height: 70px;
        margin: 0;
    }
    /* icon page */
    .car__icon-wrapper{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: -20px;
        margin-bottom: 10px;
        align-items: center;
    }
    .car__icon{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    .car__icon-wr1{
        display: flex;
        flex-direction: column;
    }
    .car__icon-wr2{
        display: flex;
        flex-direction: column;
    }
    .car__icon-wr1 #casco{
        margin-left: -4px;
        white-space: nowrap;
    }
    .car__btn-wr{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn__one{
        width: 260px;
        height: 43px;
        margin: 0;
        margin-bottom: 10px;
    }
    .btn__two{
        width: 260px;
        height: 43px;
    }
    /* benefit page */
    .benefit{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .benefit__form{
        background-image: url(/img/orange.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 373px;
        box-sizing: border-box;
        padding: 19px 20px;
        margin-bottom: 50px;
        margin-top: 30px;

    }
    .benefit__heading{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        white-space: nowrap;
    }
    .benefit__text{
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
        white-space: nowrap;
    }
    .benefit__red{
        display: none;
    }
    .benefit__inp, 
    .benefit__inp1,
    .benefit__btn,
    .benefit__small{
        display: none;
    }
    /* equipment page */
    .equipment{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .equipment__heading{
        width: 250px;
        white-space: wrap;
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: #343434;
        margin-bottom: 20px;
    }
    .equipment__inp{
        width: 334px;
        height: 43px;
    }
    .down{
        bottom: 10px;
        right: 5px;
    }
    .equipment__blue{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 20px;
    }
    .blue__car{
        margin-bottom: 9px;
    }
    .equipment__price{
        margin-bottom: 9px;
    }
    .speed{
        margin-bottom: 20px;
    }
    .equipment__btn{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .blue__btn1{
        width: 235px;
        height: 43px;
        margin-bottom: 10px;
    }
    .blue__btn2{
        width: 235px;
        height: 43px;
    }
    /* map page */
    .map{
        display: flex;
        flex-direction: column;
        background-image: url(/img/mini-map.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        box-sizing: border-box;
        padding: 17px;
        height: 600px;
    }
    .map__form{
        margin: 0;
        width: 100%;
        height: 370px;
        background: #343434;
        border: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
    }
    .map__logo{
        display: none;
    }
    .map__logo-sm{
        display: block;
        width: 93px;
        height: 77px;
        margin-bottom: 12px;
    }
    .form__phone{
        color: #C3002F;
        font-size: 22px;
        margin-bottom: 17px;
    }
    #inpt-one{
        display: block;
        background: white;
        opacity: inherit;
        width: 294px;
        height: 43px;
        margin: 0;
        margin-bottom: 10px;
        z-index: 10;
    }
    #inpt-two{
        display: block;
        opacity: inherit;
        background: white;
        width: 294px;
        height: 43px;
        margin-bottom: 15px;
        border: none;
        z-index: 10;
    }
    #btn-send{
        display: block;
        width: 294px;
        padding: 10px;
        background: #C3002F;
        color: white;
        margin: 0;
        margin-bottom: 15px;
    }
    #check{
        display: block;
        width: 200px;
        white-space: wrap;
        text-align: left;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
    }
    #check .custom-check2{
        width: 40px;
        height: 20px;
    }
    /* footer page */
    footer{
        width: 100%;
        padding: 12px 21px;
    }
    .footer__wrapper{
        display: flex;
        flex-direction: column;
    }
    .footer__copy{
        text-align: center;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .info{
        display: inline;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .phone{
        display: inline;
    }
    .footer__text{
        display: none;
    }

}


